# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.moc
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*build-*
.qmake.stash
.qmake.cache
moc_predefs.h

# Tests & examples
examples/lrucache/lrucache
tests/functional/functional
tests/performance/performance

# vim
*.swp
